{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block styles %}
    {% bootstrap_css %}
    <link  href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
  {% endblock %}
</head>

{% block content %}
<body>
  <div class="row" style="padding: 10px 100px;">
    <div class="card">
      <div class="col-md-4"><br>
        <img src="{% static 'images/person1.webp'%}" style="border-radius: 50%;">
      </div>
      <p class="text-center">  <strong> Tim Savage</strong> </p>
      <p class="text-center"> Marketing </p>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="card">
        <div class="col-md-4"><br>
          <img src="{% static 'images/person2.webp'%}" style="border-radius: 50%;">
        </div>
        <p class="text-center"> <strong> Justin Shaifer</strong></p>
        <p class="text-center"> Consulting </p>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card">
            <div class="col-md-4"><br>
              <img src="{% static 'images/person3.jpeg'%}" style="border-radius: 50%;"> 
            </div>
            <p class="text-center"><strong> Hannah Nelson</strong> </p>
            <p class="text-center"> Marketing </p>
          </div>
  </div><br>
      <div class="row" style="padding: 10px 100px;">
        <div class="card">
          <div class="col-md-4"><br>
            <img src="{% static 'images/person4.webp'%}" style="border-radius: 50%;">
          </div>
          <p class="text-center"><strong> Sheila Xavier</strong></p>
          <p class="text-center"> Operations </p>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card">
            <div class="col-md-4"><br>
              <img src="{% static 'images/person5.webp'%}" style="border-radius: 50%;">
            </div>
            <p class="text-center"> <strong> John Morrison</strong> </p>
            <p class="text-center"> Marketing </p>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card">
              <div class="col-md-4"><br>
                <img src="{% static 'images/person6.jpeg'%}" style="border-radius: 50%;">
              </div>
              <p class="text-center"><strong> Anna Tarazevich</strong> </p>
              <p class="text-center"> Consulting </p>
            </div>
      </div><br>
          <div class="row" style="padding: 10px 100px;">
            <div class="card">
              <div class="col-md-4"><br>
                <img src="{% static 'images/person7.jpeg'%}" style="border-radius: 50%;">
              </div>
              <p class="text-center"><strong> Lily Aldrin</strong></p>
              <p class="text-center"> Customer Service  </p>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="card">
                <div class="col-md-4"><br>
                  <img src="{% static 'images/person8.jpeg'%}" style="border-radius: 50%;"> 
                </div>
                <p class="text-center"><strong> Bobby Armstrong </strong></p>
                <p class="text-center"> Operations </p>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="card">
                  <div class="col-md-4"><br>
                    <img src="{% static 'images/person9.jpeg'%}" style="border-radius: 50%;">
                  </div>
                  <p class="text-center"><strong> Godisable Jacob</strong> </p>
                  <p class="text-center"> Finance </p>
                </div>
          </div><br>
             <div class="row" style="padding: 10px 100px;">
                  <div class="card">
                    <div class="col-md-4"><br>
                      <img src="{% static 'images/person10.webp'%}" style="border-radius: 50%;">
                    </div>
                    <p class="text-center"><strong> Terazine Jackson</strong> </p>
                    <p class="text-center"> Visual Communication </p>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="card">
                        <div class="col-md-4"><br>
                          <img src="{% static 'images/person11.jpeg'%}" style="border-radius: 50%;">
                        </div>
                        <p class="text-center"> <strong> Luke Selover</strong> </p>
                        <p class="text-center"> Founder and CEO </p>
                      </div>&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="card">
                          <div class="col-md-4"><br>
                            <img src="{% static 'images/person12.webp'%}" style="border-radius: 50%;">
                          </div>
                          <p class="text-center"><strong> Jeanette Mosby</strong></p>
                          <p class="text-center"> Human Resources </p>
                        </div>
              </div>
  
   
   
   
  
   
   
  
  
   
   
  
              <div class="tab">
                <p style="text-indent: 300px;"> For more, you can subscribe to our newsletter and receive daily updates about the firm. Just fill in the form below
                  and we are good to go.
                </p>
                <div class="column1">
                  <form action="mailto:oregadaniel181@gmail.com" method="post" style="padding-right: 550px;padding-left: 350px;padding-top: 10px;">
                    {%csrf_token%}
                
                    {% bootstrap_form form layout='inline' %}
                    <input type="submit" value="Subscribe" style="background-color: burlywood;">
                  </form>
                  </div><br>
                <div class="row">
                  <div class="col-md-6" style="padding-left: 400px;padding-top: 100px;">
                    <ul>
                      <li><a href="{% url 'FAQ'%}" style="color: whitesmoke;"> FAQ </a></li> 
                      <li><a href="#" style="color: whitesmoke;"> Contact Us</a> </li>
                      <li><a href="#" style="color: whitesmoke;"> Privacy policy </a></li>
                    </ul>
                 </div> 
                 <div class="vertical"></div>
                  <div class="col-md-6">
                    
                    <address>
                      <p> Ngong Lane, Ngong Lane Plaza. 1st<br>
                          Floor. Nairobi, Kenya <br></p>
                          <a href="mailto:oregadaniel181@gmail.com" style="color: whitesmoke;"><i class="fa fa-envelope" aria-hidden="true"> contact@consult.info.com </i><br></a>
                          <i class="fa fa-envelope" aria-hidden="true"> P.O BOX 70204 00400 Nairobi </i><br>
                          <a href="https://wa.me/25456345670" style="color: whitesmoke;"><i class="fa fa-whatsapp" aria-hidden="true"> +254 5634 5670</i><br></a>
                          <a href="tel:+25475637890" style="color: whitesmoke;"><i class="fa fa-mobile" aria-hidden="true"> +254 7563 7890</i><br></a>
                    </address><br>
                      <div class="socials">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true" style="color: whitesmoke;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true" style="color: whitesmoke;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true" style="color: whitesmoke;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true" style="color: whitesmoke;"></i></a>
                      </div>
                      
                  </div>
                  <div class="cookie-container">
                    <p> We use coookies in this website to give you the best experience on our site and show you relevant ads. 
                      To find out more read our <a href="#"> privacy policy</a> and <a href="#">cookie policy</a>.
                    </p>
                    <button class="cookie-btn" style="background-color: thistle;">
                       Okay
                    </button>
                  </div> 
                </div>
              </div>
{% endblock %}
</body>
</html>