nav{
   background: black;
   opacity: 0.8;
       
}
nav:after{
   content: '';
   clear: both;
   display: table;
}
nav .logo{
   float: left;
   color: white;
   font-size: 27px;
   font-weight: 600px;
   line-height: 70px;
   padding-left: 60px;
}
nav ul{
   list-style: none;
   float: right;
   margin-right: 40px;
   position: relative;
}
nav ul li {
   float: left;
   display: inline-block;
   background: black;
   margin: 0 5px;
}
nav ul li a{
   color: white;
   text-decoration: none;
   line-height: 70px;
   font-size: 18px;
   padding: 8px 15px;
}
nav ul li a:hover{
   color: cyan;
   border-radius: 5px;
   box-shadow: 0 0 5px #33ffff,
               0 0 5px #66ffff;
}
nav ul ul{
   border-top: 3px solid cyan;
   position: absolute;
   top: 90px;
   opacity: 0;
   visibility: hidden;
   transition: top .12s;
}
nav ul li:hover > ul{
   top: 70px;
   opacity: 1;
   visibility: visible;
}
nav ul ul li{
   position: relative;
   margin: 0px;
   width: 250px;
   float: none;
   display: list-item;
   border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
   line-height: 50px;
}
nav ul ul li a:hover{
   color: cyan;
   box-shadow: none;
}
p{
   font-size: medium;  
   font-family: sans-serif;
   scroll-behavior: smooth;
} 
.questions{
   padding: 300px;
   padding-top: 10px;
}
.container-fluid{
   padding-left: 100px;
   padding-right: 100px;
}
.vertical{
   border-left: 3px solid whitesmoke; 
   height: 250px; 
   position:absolute; 
   left: 45%; 
}
.cookie-container{
   position: fixed;
   bottom: -100%;
   left: 0;      
   right: 0;
   background: orangered;
   color: black;
   padding: 0 32px;
   transition: 400ms;
   padding: 10px 10px;
   opacity: 0.6;
}
.cookie-container.active{
   bottom: 0;
}
.tab address a i:hover{
   color: rgb(238, 118, 82);
}
.tab{
   background-color: rgb(70, 66, 66);
   padding-top: 50px;
   color:whitesmoke;
   position: initial;
   z-index: -1;
}
.socials{
   padding-bottom: 50px;
}
.col .socials a i:hover{
   color: rgb(238, 118, 82);
}
.tab .row .col socials a i{
   color: whitesmoke;
}
.col ul li a:hover{
   color: rgb(238, 118, 82);
}
.counter{
   user-select: none;
   color: rgba(red, green, blue, alpha);
   font-weight: 700;
   font-size: 1rem;
   padding: 0 50px;
}
.card{
   position: inherit;
   z-index: -1;
}

.headlines{
   padding: 10px 100px;
}
