{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block styles %}
    {% bootstrap_css %}
    <link  href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
  {% endblock %}
</head>

{% block content %}
<body>
 <h1 class="text-center"> Here's How It Works</h1>
<ol> 
<li> Choose Your Coach!<br> 
**Purchase a coaching session with your coach 
</li>
<li> You will receive an email from your coach. Check your spam!<br>
**Please note if you book with Apollonia the response time is 24-72 hours.<br>

** Please note if you book an email session we will send you a coaching email template that will help you get the best possible results in 24-48 hours. 
</li>
<li> Confirm a date and time that your coach will send you by email.<br>
**Coaching sessions are conducted through Phone and WhatsApp. (Skype, Zoom, and FaceTime Upon request only. Unless purchasing an email session)
</li>
<li> We will confirm & call you! Let’s change your life!</li>
</ol>

<div class="tab">
    <h1 class="text-center"> MEET YOUR TEAM </h1>
</div>    
    <hr>
    <div class="row">
      <div class="col-md-6">
      <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
      </svg>
      </div>
      <div class="col-md-6">
        <div class="card">
          
          <p style="padding-left: 100px;">
             <h1> TONY MAUKO</h1>
              LMFT Specialist
          </p>
        </div>
    </div>
    </div>  
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-title" style="background-color: black;color: whitesmoke;"> Quick Analysis </div>
            <div class="tab" style="background-color: blanchedalmond;height: 100px;text-align: center;font-size: xx-large;"><strong> $47</strong></div>
            <div class="card-body">
              30 min phone call session<hr>
              Identify concerns<hr>
              Full Q and A<hr>
              <button class="btn btn-primary"> BOOK NOW </button>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-title" style="background-color: black;color: whitesmoke;"> Complete Assessment </div>
          <div class="tab" style="background-color: blanchedalmond;height: 100px;text-align: center;font-size: xx-large;"><strong> $87</strong></div>
          <div class="card-body">
            2 hour phone call session<hr>
            Complete Analysis & Action Plan<hr>
            Full Q and A<hr>
            <button class="btn btn-primary"> BOOK NOW </button>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-title" style="background-color: black;color: whitesmoke;"> Email Coaching </div>
        <div class="tab" style="background-color: blanchedalmond;height: 100px;text-align: center;font-size: xx-large;"><strong> $117</strong></div>
        <div class="card-body">
          5 Email Coaching Within 30 Days<hr>
          24-72 Hour Turnaround<hr>
          Complete Analysis & Action Plan<hr>
          <button class="btn btn-primary"> BOOK NOW </button>
        </div>
      </div>
  </div>
      </div>
      <div class="row">
        <div class="card">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
          </svg>
          <p>SARAH MCCLAREY,CLIENT COORDINATOR
   info@hellomlc.com

Hi! I’m Sarah, Millennial Life Counseling’s Client Coordinator. With a passion for client relations and trust in what we do here at MLC, you can count on me for any questions you may have through the process of getting started. My priority is to ensure that you feel comfortable, worry-free, and connected to the best fit therapist for your needs. I’m looking forward to working with you and getting you scheduled soon!</p>
        </div>
      </div>  
    <div class="row" style="padding-bottom: 100px;">
      <div class="col-md-4">
        <div class="card">
          <div class="card-title" style="background-color: black;color: whitesmoke;"> Quick Analysis </div>
          <div class="tab" style="background-color: blanchedalmond;height: 100px;text-align: center;font-size: xx-large;"><strong> $47</strong></div>
          <div class="card-body">
            30 min phone call session<hr>
            Identify concerns<hr>
            Full Q and A<hr>
            <button class="btn btn-primary"> BOOK NOW </button>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-title" style="background-color: black;color: whitesmoke;"> Complete Assessment </div>
        <div class="tab" style="background-color: blanchedalmond;height: 100px;text-align: center;font-size: xx-large;"><strong> $87</strong></div>
        <div class="card-body">
          2 hour phone call session<hr>
          Complete Analysis & Action Plan<hr>
          Full Q and A<hr>
          <button class="btn btn-primary"> BOOK NOW </button>
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-title" style="background-color: black;color: whitesmoke;"> Email Coaching </div>
      <div class="tab" style="background-color: blanchedalmond;height: 100px;text-align: center;font-size: xx-large;"><strong> $117</strong></div>
      <div class="card-body">
        5 Email Coaching Within 30 Days<hr>
        24-72 Hour Turnaround<hr>
        Complete Analysis & Action Plan<hr>
        <button class="btn btn-primary"> BOOK NOW </button>
      </div>
    </div>
</div>
    </div>
    
     
  
    
   
    
 
    <div class="tab" style="background-color: gray;padding-top: 10px;">
     <div class="vertical"></div>
     <address style="color: whitesmoke;text-align: center;padding-left: 5px;">
        <p> Ngong Lane, Ngong Lane Plaza. 1st<br>
            Floor. Nairobi, Kenya <br></p>
       <i class="fa fa-envelope" aria-hidden="true"> contact@consult.info.com </i><br>
       <i class="fa fa-envelope" aria-hidden="true"> P.O BOX 70204 00400 Nairobi </i><br>
       <i class="fa fa-whatsapp" aria-hidden="true"> +254 5634 5670</i><br>
       <i class="fa fa-mobile" aria-hidden="true"> +254 7563 7890</i><br>
     </address><br><br>
     <div class="socials">
       <i class="fa fa-facebook" aria-hidden="true"></i>
       <i class="fa fa-twitter" aria-hidden="true"></i>
       <i class="fa fa-linkedin-square" aria-hidden="true"></i>
       <i class="fa fa-youtube" aria-hidden="true"></i>
     </div>
   </div>
     
{% endblock %}
</body>
</html>