{% extends 'base.html' %}
{% block content %}
<p> We Love hearing from you!
    If you want to get in contact with either me or my team, please fill out one of the appropriate forms below that matches your needs.
    
    Our team gets hundreds of emails a day with request, feedback, questions, and testimonials. And yes we read every single one of them that comes though!
    
    Please understand that "email us here" is not the place for free advice or personalized coaching.
    If you would like personalized coaching click here.</p>




{% endblock %}