{% load bootstrap4 %}
{% load static %}

{% block style %}
 {% bootstrap_css %}
 <link  href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}
<nav>
   <div class="logo"><a href="{% url 'home' %}"> <img src="{% static 'images/Blue Haze Consulting.png'%}"> </a></div>
     <ul>
        <li> <a href="{% url 'about'%}"> About Us </a>
         <ul>
            <li><a href="{% url 'approach' %}"> Our Approach</a></li>
            <li><a href="{% url 'purpose' %}"> Our Purpose</a></li>
            <li><a href="{% url 'career' %}"> Careers</a></li>
            <li><a href="{% url 'team' %}"> Our Team</a></li>
            <li><a href="{% url 'recog' %}"> Recognition </a></li>
         </ul>
       </li>
        <li> <a href="{% url 'services' %}"> Services </a>
           <ul>
              <li><a href="{% url 'building' %}"> Team building </a></li>
              <li><a href="{% url 'conflict' %}"> Conflict resolution </a></li>
              <li><a href="{% url 'change' %}"> Change management </a></li>
              <li><a href="{% url 'leadership' %}"> Leadership </a></li>
              <li><a href="{% url 'talent' %}"> Talent empowerment  </a></li>
              <li><a href="{% url 'digital' %}"> Digital Marketing </a></li>
           </ul>
        </li> 
        <li> <a href="{% url 'blog' %}"> Blog </a></li>
        <li> <a href="{% url 'case' %}"> Case Studies </a></li>
</nav>
       