{% load bootstrap4 %}
{% load static %}

{% block style %}
 {% bootstrap_css %}
 <link  href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}
<nav>
   <div class="logo"><a href="{% url 'home' %}"> Consult </a></div>
     <ul>
        <li> <a href="{% url 'about'%}"> About Us </a></li>
        <li> <a href="{% url 'services' %}"> Services </a></li>
        <li> <a href="{% url 'FAQ' %}"> FAQ </a></li>
        <li> <a href="{% url 'coaching' %}"> Coaching </a></li>
        {% if user.is_authenticated %}
        <li> <a href="{% url 'profile' %}"> Profile</a>
           <ul>
            <li> <a href="{% url 'cart' %}"> Cart </a></li>
            <li> <a href="{% url 'update' %}"> Update Profile</a></li>
            <li> <a href="{% url 'notifications'%}"> Notifications </a></li>
            <li> <a href="{% url 'messages'%}"> Messages </a></li>
            <li> <a href="/logout"> Logout </a></li>
           </ul>
        </li>
       {% else %} 
       <li> <a href="/accounts/login"> Login </a></li>
       {% endif %} 
     </ul>




</nav>
       