{% extends 'base.html' %}

{% block content %}


<p style="padding-bottom: 500px;">
    <strong> Welcome, {{user.username}}</strong>
</p>  
 



<div class="tab" style="background-color: gray;padding-top: 10px;">
  <div class="vertical"></div>
  <address style="color: whitesmoke;text-align: center;padding-left: 5px;">
     <p> Ngong Lane, Ngong Lane Plaza. 1st<br>
         Floor. Nairobi, Kenya <br></p>
    <i class="fa fa-envelope" aria-hidden="true"> contact@consult.info.com </i><br>
    <i class="fa fa-envelope" aria-hidden="true"> P.O BOX 70204 00400 Nairobi </i><br>
    <i class="fa fa-whatsapp" aria-hidden="true"> +254 5634 5670</i><br>
    <i class="fa fa-mobile" aria-hidden="true"> +254 7563 7890</i><br>
  </address><br><br>
  <div class="socials">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    <i class="fa fa-youtube" aria-hidden="true"></i>
  </div>
</div>



{% endblock %}