{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
{% block styles %}
    {% bootstrap_css %}
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
  {% endblock %}
</head>

{% block content %}
<body>
   <div class="card">
      <div class="card-title"> Family Therapy</div>
      <div class="card-body"> Why Family Therapy!<br>
        We view as the back bone of the society because where would children come from if not for family?
        Maintaining a family is not easy. Family is a group of people biologically related by blood and desired to be with
        each other till death. One would say that "I did not ask for this? But do you want to be on your own? ". Family should 
        not be a burden but sometimes things take a turn. When it gets to you feeling like your family is always on you know 
        nerves. Look for a common ground that you all can relate with. I know some of you would say 'Easier said than done', well
        we offer family therapy, so if you need help, feel free to contact us.
    </div>
    </div><br>
    <div class="card">
        <div class="card-title"> Personal Therapy</div>
        <div class="card-body"> People experience different things at some point in life. Don't take the wrong way but I believe 
            we have faced depression at some point in our lives which was obviously brought about by some situation.Frequently, these 
            situations may be unemployment, relationship issues, self denial, hopelessness and many other that we may know of. It's 
            human to feel all this, but it's dangerous to burden oneself with those situations. As we all know suicidial thoughts
            emerge as the last resort which these situations hit their full blown stages. We would like to prevent this by offering our
            personal therapy services. You see that we may have it all but that's not the case. Everyone has faced that at some point and
            you have to be willing to give in and seek help before it's too late.
        </div>
    </div><br>
    <div class="card">
        <div class="card-title"> Corporate Therapy </div>
        <div class="card-body"> Individuals are different in my aspects. One's emotional intelligence is one of the most unique 
            things in people. Some people are quick to anger while others are not. With EQ, a lot can be seen not just anger management 
            but it can e used to determine the type of individual one is. In the work place, one's EQ should be very high considering 
            there, we ought to work as one as a team. Working in a team is not easy but at the same tme is the best. Collaborating with 
            has its drawbacks especially when it comes to tolerating others behaviour way of living and thinking at some point. This is 
            very essential for businesses in that every employee has his or her work to do and its codependent with the other employees' 
            work. Team work is very necessary in the work place and in case its not working, we can hrlp with that. We offer corporate 
            therapy where team building and the likes come in.
        </div><br><br>
    </div>
    <div class="tab" style="background-color:gray;padding-bottom: 50px;">
        <p> Social feeds </p>
        <p>   <i class="fab fa-facebook"></i> 
                   <i class="icon-twitter"></i>
        </p>
    </div>
       <div class="tab" style="background-color: black;padding-top: 100px;">
        <address style="color: whitesmoke;text-align: center;">
          You can contact us at:<br>
          TechOnTheNet.com<br>
          123 Somewhere St.<br>
          City, State
        </address>
       </div>
</body>
{% endblock %}

</html>