{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
     {% block styles %}
     {% bootstrap_css %}
     <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css"> 
      {% endblock %}
</head>    
{% block content %}
<body>


    <div class="container-fluid">
        <h1> Update Profile </h1>
      <form action="#" method="post">
        {%csrf_token%}
    
        {% bootstrap_form form layout='inline' %}
        <input type="submit" value="Update">
      </form>
    
    </div>

    
</body>

{% endblock %}